@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  flex: 1;
}

.rating-star {
  width: 24px;
  height: 24px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
